.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 14px;
	height: 14px;
	border-radius: 4px;
	border: 1.5px solid #353535;
	background-color: transparent;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.container {
	display: flex;
}

.label {
	font-family: var(--font-reg);
	color: var(--color-black);
	font-size: var(--font-size-medium);
	padding-left: 10px;
	margin-top: -3px;
}
