.container {
	width: 100%;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerLogoIcon {
	margin: 20px;
}

.headerTitle {
	font-family: var(--font-bold);
	color: var(--color-subMain);
	font-size: var(--font-size-medium);
	font-style: normal;
}